CherryPy==3.8.0
Cython==0.23.2
Jinja2==2.8
Mako==1.0.2
Markdown==2.6.2
MarkupSafe==0.23
PyJWT==1.4.0
PyYAML==3.11
bcrypt==2.0.0
cffi==1.2.1
click==5.1
closure-linter==2.3.13
defusedxml==0.4.1
livereload==2.4.0
mkdocs==0.14.0
oauthlib==1.0.3
pycparser==2.14
pymongo==3.0.3
python-gflags==2.0
python-social-auth==0.2.12
python3-openid==3.0.7
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
tornado==4.2.1
uWSGI==2.0.11.1